body{
    background-color: white;
}
.rs{
    position:absolute;
    top:-2%;
    left:0%;
}
body video{
    padding: 300px;
    size: cover;
}
body .rs{

    background-color:white;
    height: 100px;
    width:322px;
    
}
 
  .main{
    
    
    position: absolute;
    top:20px;
    left:10px;
  

 }
 .mainmenu {
    position: relative;
    width: 300px;
    height: 70px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f363e;
    border-radius: 10%;
    border:3px solid #15f4ee;
    box-shadow: 0 1px 3px 0 aliceblue inset,0 1px 3px 0 aliceblue,
               0 1px 3px 0 #1663f1 inset,0 1px 3px 0 #1663f1;
  
 }
 .mainmenu ul{
    display: flex;
    font-size:20px;
    width: 300px;
    
 }
.mainmenu ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.mainmenu ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition:0.5s;
    font-weight: 500;

}
.mainmenu ul li  a .icon
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: aliceblue;
}
.mainmenu ul li.active a .icon
{
    transform: translateY(-33px);
}
.mainmenu ul li a .text
{
    position: absolute;
    font-weight: 400;
    font-size: 0.75em;
    transition: 0.5s;
    opacity:0;
    color: aliceblue;
}
.mainmenu ul li.active a .text
{
    opacity:1;
}

 .indicater{
    position: absolute;
    top:-36%;
    right: 71.5%;
    width: 40px;
    height: 40px;
    background: #2fd953;
    border-radius: 50%;
    border:2px solid white; 
    transition:0.6s;
}
.indicater::before{
    content: '';
    position: absolute;
    top: 50%;
    left:-17px;
    width: 22px;
    height: 20px;
    border-top-right-radius: 21px;
    box-shadow: 0px -4px 0 0 white;
    
}

.indicater2::before{
    content: '';
    position: absolute;
    top: -10%;
    left:34px;
    width: 6px;
    height: 5px;
    background:white;
    border-top-right-radius: 21px;
    transition:0.6s;
}
    .indicater::after{
        content: '';
        position: absolute;
        top: 50%;
        right:-17px;
        width: 22px;
        height: 20px;
        border-top-left-radius: 21px;
        box-shadow: 0px -4px 0 0 white;
        
    }
    .indicater2::after{

        content: '';
        position: absolute;
        top: -10%;
        right:205px;
        width: 6px;
        height: 5px;
        background:white;
        border-top-left-radius: 21px;
        transition:0.6s;
        
}

.mainmenu ul li:nth-child(1).active ~ .indicater2::after
{
    transform: translateX(calc(70px * 0));
}
.mainmenu ul li:nth-child(2).active ~ .indicater2::after
{
    transform: translateX(calc(70px * 1));
}

.mainmenu ul li:nth-child(3).active ~ .indicater2::after
{
    transform: translateX(calc(70px * 2));
}
.mainmenu ul li:nth-child(4).active ~ .indicater2::after
{
    transform: translateX(calc(70px * 3));
}
.mainmenu ul li:nth-child(1).active ~ .indicater2::before
{
    transform: translateX(calc(70px * 0));
}
.mainmenu ul li:nth-child(2).active ~ .indicater2::before
{
    transform: translateX(calc(70px * 1));
}.mainmenu ul li:nth-child(3).active ~ .indicater2::before
{
    transform: translateX(calc(70px * 2));
}.mainmenu ul li:nth-child(4).active ~ .indicater2::before
{
    transform: translateX(calc(70px * 3));
}
.mainmenu ul li:nth-child(1).active ~ .indicater
{
    transform: translateX(calc(70px * 0));
}
.mainmenu ul li:nth-child(2).active ~ .indicater
{
    transform: translateX(calc(70px * 1));
}
.mainmenu ul li:nth-child(3).active ~ .indicater
{
    transform: translateX(calc(70px * 2));
}
.mainmenu ul li:nth-child(4).active ~ .indicater
{
    transform: translateX(calc(70px * 3));
}